<!doctype html>
<html>

<head>
    <title>Self Camera</title>
</head>

<body>
    <div>
        <p>カメラ画像</p>
        <video id="myVideo" width="640" height="480" autoplay="1"></video>
    </div>
    <form>
        <button type="button" id="shutter">シャッター</button>
    </form>
    <div>
        <p>キャプチャ画像</p>
        <canvas id="picture" width="640" height="480"></canvas>
    </div>
    <div>
        <form>
            <button type="button" id="send">サーバへ送信</button>
        </form>
        <p>送信ステータス: <span id="sendResult"></span></p>
        <p>動体検知: <span id="detectionStatus"></span></p>
        <p>検知位置: <span id="detectionArea"></span></p>
        <p>JSON: <span id="responseJson"></span></p>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>